*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 70vw;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.note{
  min-height: 200px;
  background-color:#ff70a6;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  
  
}
.note p{
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note-footer{
  display: flex;
  justify-content: space-between;
}

.notes-list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

.search{
  display: flex;
  align-items: center;
  background-color: #e5e4e2;
  border-radius: 10px;
  margin-bottom: 1.3rem;
  padding: 7px;
}

.search input{
  border: none;
  background:#e5e4e2;
  width: 100%;
}

.search input:focus{
  outline: none;
}

h1{
  font-size: 2.3rem;
}

button{
  border: none;
  padding: 5px 10px;
  background-color:#e5e4e2;
  border-radius: 15px;
}

.addnote-bg-color{
  background-color: #70d6ff;
}
.addnote-bg-color button{
  cursor: pointer;
}
.addnote-bg-color button:hover{
  background-color:white;
}

.note textarea{
  background-color: #70d6ff;
  border: none;
  resize: none;
  
}

textarea:focus{
  outline: none;
}

.dark-mode{
  background-color:#161032;
  
}
.dark-mode h1{
  color: white;
}

.delete-icon{
  cursor: pointer;
  font-size: 1.3rem;
}

.delete-icon:hover{
  color:grey;
}
